.container_div{
    display: flex;
    justify-content: center;
    margin: 40px;;
}
.btn_div{
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    background-color: blue;
} 

#container div{
    background-color: black;
    flex-grow: 1;
}